.list {
    padding: 20px;
    padding-top: 0;
    list-style: none;
    margin-top: 0;
}

.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    padding: 10px;
    padding-top: 30px;
    border-bottom: 2px solid #ddd;
    align-items: center;
}

.list__button {
    border: none;
    color: white;
    border-radius: 2px;
    height: 30px;
    width: 30px;
    padding: 0;
    transition: background 0.3s;
}

.list__button--toggleDone {
    background-color: green;
}

.list__button--toggleDone:hover {
    cursor: pointer;
    background-color: hsl(120, 100%, 35%);
}

.list__button--toggleDone:active {
    background-color: hsl(120, 100%, 40%);
}

.list__button--delete {
    background-color: crimson;
}

.list__button--delete:hover {
    cursor: pointer;
    background-color: hsl(348, 83%, 55%);
}

.list__button--delete:active {
    background-color: hsl(348, 83%, 60%);
}

.list__task--done {
    text-decoration: line-through;
}

.list__item--hide {
    display: none;
}





